<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>List Product</title>
</head>
<body>
    <a th:href="@{/product/create}">Create New Product</a>
    <table id="products" border="1" cellspacing="2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Brand</th>
                <th>Cost</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="prod : ${productList}">
                <td th:text="${prod.getId()}"></td>
                <td th:text="${prod.getName()}"></td>
                <td th:text="${prod.getBrand()}"></td>
                <td th:text="${prod.getCost()}"></td>
                <td>
                    <a th:href="@{/product/{id}/edit(id=${prod.getId()})}">Edit</a>
                    <a th:href="@{/product/{id}/delete(id=${prod.getId()})}">Delete</a>
                    <a th:href="@{/product/{id}/view(id=${prod.getId()})}">View</a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="notify">
        <div th:if="${message}">
            <span th:text="${message}"></span>
        </div>
    </div>
</body>
<footer th:replace="/layout :: footer"></footer>
</html>