<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h3>ID: <span th:text="${productDetail.getId()}"></span></h3>
    <h3>Name: <span th:text="${productDetail.getName()}"></span></h3>
    <h3>Brand: <span th:text="${productDetail.getBrand()}"></span></h3>
    <h3>Cost: <span th:text="${productDetail.getCost()}"></span></h3>
</body>
<footer th:replace="/layout :: footer"></footer>
</html>