<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/">Back list products</a>
<table border="1" cellspacing="2">
    <tr>
        <td>ID Cart</td>
        <td>Name product</td>
        <td>Price</td>
        <td>Action</td>
    </tr>
    <tr th:each="product, state : ${cartList}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
        <td>
            <a th:href="@{/remove-product/{id}/(id=${state.index})}">Remove Product</a>
        </td>
    </tr>
</table>
</body>
</html>